    <div class="row">
      <ul class="nav navbar-nav" id="sort">
        <li id = "label"><h4>Sort by: </h4></li>
        <li><%= link_to 'Most Recent',most_recent_path %></li>
        <li> <%= link_to "Oldest to Newest", oldest_to_new_path %> </li>
        <li id = "label"><h4>By title: </h4></li>
        <li> <%= link_to "A-Z", a_to_z_path %> </li>
        <li> <%= link_to "Z-A", z_to_a_path %> </li>
      </ul>
    </div>
