<style type="text/css">

html{
    background-image: url('laptop-online-learning.jpg');
}
    .text-center{
        position: absolute;
        top: 40%;
        left: 43%;
        margin-top: -50px;
        margin-left: -50px;
        width: 310px;
        height: 200px;
    }

    .reg_log{
        position: absolute;
        top: 60%;
        left: 43%;
        margin-top: 0px;
        margin-left: -50px;
        width: 300px;
        height: 200px;
    }

</style>



    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>VidEdu</h1>
                <p class="lead">Learning, one clip at a time</p>
                <span style = "font-size:25px"><strong><%= link_to "Signup!", 'signup' %></a></strong></span>
                &nbsp;
                &nbsp;
                &nbsp;
                <span style = "font-size:25px"><strong><%= link_to "Login", 'login' %></a></strong></span>

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
