
<style type="text/css">
    #header{
        
    }    

</style>
<%= render 'videos/nav' %>

<span class='text-center'>
    <h1>Editing "<%= @subject.subject %>"</h1>
</span>

<%= render 'form' %>

