<% provide(:title, "Add Subject") %>
<%= render 'videos/nav' %>

<style type="text/css">
    #new_subject_header{
        text-align: center;
    }



</style>
<h1 id="new_subject_header">New Subject</h1>

<%= render 'form' %>

