/*
 *= require 'masonry/transitions'
 */

@import 'masonry/transitions';
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
/*
*= require 'masonry/transitions'
*/

@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";


/* SHOW.HTML.ERB Page */

#uid {
    display: none;
}
.bs-example {
    margin: 50px;
}
#url {
    text-decoration: none;
}
#right_side_show {
    border: 1px solid black;
}
#note_area_show {
    overflow-y: scroll;
    height: 375px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.save_to_local_show {
    float: left;
    margin-left: 45px;
    margin-top: 10px;
}
#create_show {
    width: 40px;
    margin-right: 10px;
}
/* _SHOW.HTML.ERB Page */

.caption {
    margin-left: 10px;
}
#sort {
    margin-left: 100px;
    margin-top: -25px;
}
#label {
    margin-top: 6px;
}
#videos {
    margin: 0 auto;
    width: 100%;
}
.box {
    margin: 15px;
    width: 340px;
}
.box img {
    margin-left: 9px;
}
#star-rating {
    margin-top: 10px;
    float: left;
}
#create {
    width: 40px;
    margin-right: 10px;
}
.save_to_local {
    margin-top: -68px;
    margin-left: 55px;
    margin-bottom: 10px;
    float: right;
    padding-bottom: 10px;
}
#warning {
    margin-left: 50px;
}
#back {
    padding-top: 15px;
    padding-bottom: 15px;
    float: right;
    margin-top: 20px;
}
#comments {
    max-height: 500px;
    overflow: auto;
}
/* For header and footer */

.nav > li > span {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #9d9d9d;
}
#footer {
    margin-top: 50px;
}
#search_submit {
    margin-left: 10px;
    margin-top: 10px;
}
/* For video "_form.html.erb" => new AND edit pages */

textarea {
    padding-left: 10px;
}
#note_area {
    max-width: 100%;
    min-width: 100%;
    max-height: 300%;
    min-height: 300%;
}
iframe {
    width: 100%;
    height: 400px;
}
.insert_video {
    width: 60%;
}
.video_button {
    width: 15%;
}
#input_area {
    width: 100%;
    float: left;
}
#submit_btn {
    width: 100px;
    margin-left: 10px;
}
#save_btn {
    padding-top: 15px;
    padding-bottom: 15px;
    float: right;
    margin-top: 20px;
}
.rating {
    padding-top: 0px;
    padding-bottom: 10px;
}
#write_review {
    max-width: 100%;
    min-width: 100%;
    max-height: 300%;
    min-height: 300%;
}
#right_side {
    float: right !important;
    margin-top: 0px;
}
#video_title {
    width: 90%;
    float: right;
    margin-bottom: 10px;
}
#player {
    width: 100%;
}
#content {
    width: 80%;
    height: 300px;
}
#timestamp {
    width: 10%;
    height: 370px;
    float: left;
    border-style: solid;
    border-width: 1px;
    margin-top: 140px;
    font-size: 11px;
}
#form_content {
    width: 90%;
    float: right;
}
#button {
    width: 75% !important;
    float: left;
}
.btn-primary {
    width: 20%;
    float: right;
    margin-left: 10px;
}
#review_section {
    margin-top: 20px;
}
#summary_content {
    margin-top: 20px;
    width: 90%;
    float: right;
    height: 30px;
}
/*    rows=>"5", cols=>"80"*/
/*# sourceMappingURL=custom.css.map */

